PyPI/build/
PyPI/custardpy.egg-info/
PyPI/dist/
.vscode
docs/_build/
docs/.vscode/
tutorial/Hi-C/fastq/
tutorial/Hi-C/hic/
tutorial/Hi-C/bwa-indexes/
tutorial/Hi-C/chromap-indexes/
tutorial/Hi-C/genome.hg38.fa
tutorial/Hi-C/genome.hg38.fa.fai
tutorial/Hi-C/Figs/
tutorial/Hi-C/CustardPyResults_Hi-C/
tutorial/Micro-C/fastq/
tutorial/Micro-C/bwa-indexes/
tutorial/Micro-C/chromap-indexes/
tutorial/Micro-C/genome.mm39.fa
tutorial/Micro-C/genome.mm39.fa.fai
tutorial/Micro-C/CustardPyResults_MicroC/
Docker/scripts_old/
Docker/log/
Docker/ToBeConsidered/
tutorial/Hi-C/3DChromatin_ReplicateQC/
tutorial/Hi-C/figure/
