PyPI/build/
PyPI/custardpy.egg-info/
PyPI/dist/
.vscode
docs/_build/
docs/.vscode/
tutorial/Hi-C/fastq/
tutorial/Hi-C/hic/
tutorial/Hi-C/01.Cooler/CustardPyResults_Hi-C/
tutorial/Hi-C/01.Cooler/coolloop.html
tutorial/Hi-C/01.Cooler/coolloop.ipynb
tutorial/Hi-C/01.Cooler/genome.hg38.fa
tutorial/Hi-C/01.Cooler/genome.hg38.fa.fai
tutorial/Hi-C/01.Cooler/genometable.hg38.txt
tutorial/Hi-C/02.Juicer/CustardPyResults_Hi-C/
tutorial/Hi-C/02.Juicer/bwa-indexes/
tutorial/Hi-C/02.Juicer/fastq
tutorial/Hi-C/02.Juicer/figure/
tutorial/Hi-C/02.Juicer/genome.hg38.fa
tutorial/Hi-C/02.Juicer/genometable.hg38.txt
tutorial/Hi-C/02.Juicer/refFlat.hg38.txt
tutorial/Hi-C/03.HiC-Pro/HiCProResults/
tutorial/Hi-C/03.HiC-Pro/MboI_resfrag_hg38.bed
tutorial/Hi-C/03.HiC-Pro/bowtie2-indexes/
tutorial/Hi-C/03.HiC-Pro/genome.hg38.fa
tutorial/Micro-C/fastq/
tutorial/Micro-C/bwa-indexes/
tutorial/Micro-C/chromap-indexes/
tutorial/Micro-C/genome.mm39.fa
tutorial/Micro-C/genome.mm39.fa.fai
tutorial/Micro-C/CustardPyResults_MicroC/
Docker/scripts_old/
Docker/log/
Docker/ToBeConsidered/
tutorial/Hi-C/3DChromatin_ReplicateQC/
tutorial/Hi-C/CustardPyResults_Hi-C.v2/
tutorial/Hi-C/chromap_results_hg38/
