pypi/build/
pypi/custardpy.egg-info/
pypi/dist/
tutorial/Hi-C/JuicerResults/
tutorial/Hi-C/fastq/
tutorial/Hi-C/Cooler_hg38/
tutorial/Micro-C/fastq/
docs/_build/
docs/.vscode/
tutorial/Hi-C/bwa-indexes/
tutorial/Hi-C/chromap-indexes/
tutorial/Hi-C/genome.hg38.fa
tutorial/Hi-C/old/
tutorial/Micro-C/Cooler_MicroC_bwa/
tutorial/Micro-C/Cooler_MicroC_chromap/
tutorial/Micro-C/bwa-indexes/
tutorial/Micro-C/chromap-indexes/
tutorial/Micro-C/genome.mm39.fa
Dockerfile/scripts/old/